* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HEADER STYLE START */
header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #333;
}

header h1 {
    background-color: teal;
    padding: 10px;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 20px 20px ;
}
/* HEADER STYLE END*/

/* BANNER STYLE START */
.banner-container{
    border: solid 2px black;
    height: 200px;
    background-image: url(/Assets/Images/banner.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.banner-container h1 {
    background: teal;
    color: white;
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* BANNER STYLE END */

/* ABOUT ME STYLE START */
/* ABOUT ME STYLE END */

/* WORK STYLE START */
/* WORK STYLE END */

/* CONTACT STYLE START */
/* CONTACT STYLE END */

/* RESUME STYLE START */
/* RESUME STYLE END */
