* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: lightblue;
}

/* HEADER STYLE START */
header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #333;
}

header h1 {
    background-color: teal;
    padding: 10px;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 20px 20px ;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
/* HEADER STYLE END*/

section { 
    display: flex;
    border: 3px solid teal;
    margin: 20px 50px;
}

.container {
    margin: 20px;
    width: 150px;
    padding-right: 10px;
    border-right: 3px solid teal;
}



/* BANNER STYLE START */
.banner-container{
    border: solid 2px black;
    height: 200px;
    background-image: url(Assets/Images/banner.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.banner-container h1 {
    background: teal;
    color: white;
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner-container img {
    height: 100%;
    border-radius: 50%;
}

/* BANNER STYLE END */

/* ABOUT ME STYLE START */
#about-me p {
    display: block;
    font-size: 22px;
    margin: 30px;
    flex: 1;
}
/* ABOUT ME STYLE END */

/* WORK STYLE START */
.work-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 20px;
}

.top-site-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.mid-sites-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.mid-sites {
    width: 300px;
    height: 200px;
}

.top-site {
    width: 600px;
}

/* WORK STYLE END */

/* CONTACT STYLE START */
.contact-links ul{
    width: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
/* CONTACT STYLE END */

/* RESUME STYLE START */
.resume img {
    display: flex;
    width: 100%;
    padding: 5px;
}
/* RESUME STYLE END */
